body {
    text-align: center;
    padding: 2em;
    max-width: 1000px;
    margin: auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
}
.subtitle {
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}
.conteudo {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
}
.rodape {
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0px 8px 8px 0px;
    margin: 2px;
    text-align: right;
}
#contatos {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 2px;
    text-align: right;
    
}
.foto1 {
    border: 1px solid black;
    border-radius: 15px;
}
.links {
    color: rgb(255, 0, 0);
    font-style: italic;
}