@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(125,122,131,1) 50%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
    animation: backgroundTransition 8s ease-in-out infinite;
}
@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: rgb(255, 255, 255);
    color: gray;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

button:disabled {
    background-color: lightgray;
    color: gray;
    border-color: gray;
}


#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
button:hover {
    background-color: black;
    color: white;
    transition: 200ms;
}